<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.njupt.zyhy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 基本模块（必须）START -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基本模块 END -->
    <uses-permission android:name="READ_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 推送所需的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- SMS权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 这个权限用于允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 用户组件导航页蓝牙设备连接提醒 -->
    <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zyhy"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme">
        <activity android:name=".Fragment_Home_Dangjiang"></activity>
        <activity android:name=".Fragment_Exhibition_collect" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Fragment_guide_webview" /> <!-- 欢迎页面 -->
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 欢迎页面结束 -->
        <!-- 欢迎页面结束 -->
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgetActivity" />
        <activity android:name=".Fragment_Me_setting" />
        <activity android:name=".Fragment_Me_comment" />
        <activity android:name=".Fragment_Me_news" />
        <activity android:name=".Fragment_Me_feedback" />
        <activity android:name=".Fragment_Me_lost" />
        <activity android:name=".Fragment_Me_collection" />
        <activity android:name=".Fragment_Me_trip" />
        <activity android:name=".Fragment_Me_order" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".Fragment_guide_map" />
        <activity android:name=".Fragment_Home_quanjing" />
        <activity android:name=".Fragment_Home_canguanyuyue" />
        <activity android:name=".Fragment_Home_canguanyuyue_add" />
        <activity android:name=".Fragment_Home_bianmin" />
        <activity android:name=".Fragment_Home_inform" />
        <activity android:name=".Fragment_Home_zhoubianwenchuang" />
        <activity android:name=".Fragment_Home_education" />
        <activity android:name=".Fragment_Home_seach" />
        <activity android:name=".Fragment_Me_lost_add" />
        <activity android:name=".Fragment_collection_detail" />
        <activity android:name=".Fragment_exhabition_detail" />
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ARActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="unspecified" />
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.njupt.zyhy.BmobContentProvider" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.njupt.zyhy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f1ea9b7c175114b111aefbc5e010de0c" />

        <service android:name="com.amap.api.location.APSService" />

    </application>

</manifest>